.dark-mode {
    --lm-bg: #1e1e1e; /* Dark mode background */
    --lm-bg-content: #2a2a2a; /* Dark mode content background */
    --lm-text: #ffffff; /* Dark mode text color */
    --lm-text-alt: #bbbbbb; /* Dark mode alternate text color */
    --lm-shadow: 0px 16px 30px -10px rgba(0, 0, 0, 0.2); /* Dark mode shadow */
    --lm-shadow-inactive: 0px 16px 30px -10px rgba(0, 0, 0, 0.2); /* Dark mode shadow for inactive elements */
    --lm-icon-bg: brightness(70%); /* Dark mode icon background */
}


:root {
    --lm-bg: #f6f8ff;
    --lm-bg-content: #fefefe;
    --lm-text: #4b6a9b;
    --lm-text-alt: #2b3442;
    --lm-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
    --lm-shadow-inactive: 0px 16px 30px -10px rgba(0, 0, 0, 0.2);
    --lm-icon-bg: brightness(100%);
    /* Btn */
    --btn: #0079ff;
    --btn-hover: #60abff;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--lm-bg);
}

.container{
    max-width: 700px;
    width: 90%;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}

.title{
    font-size: 1.6rem;
    color: var(--lm-text);
}

.theme{
    display: flex;
    gap: 2rem;
    /* justify-content: space-between; */
    align-items: center;
}

.theme-text{
    font-size: 1rem;
    color: var(--lm-text-alt);
    
}

.theme img{
    width: 1rem;
    object-fit: contain;
}

main{
    margin-top: 4rem;
}

.search-container{
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.search-icon{
    position: absolute;
    z-index: 1;
    left: 2%;
    width: 1.25rem;
}

.search-bar{
    position: absolute;
    width: 100%;
    padding-left: 8%;
    height: 4rem;
    border: none;
    border-radius: 0.75rem;
    font-size: 1.2rem;
    padding-right: 20%;
    background-color: var(--lm-bg-content);
    color: var(--lm-text);
}

.search-bar::placeholder{
    font-size: 1.2rem;
}

.search-bar::-webkit-search-cancel-button{
    position:relative;
    right: 5%;
}

.search-bar:focus{
    outline: none;
}

.search-btn{
    position: absolute;
    z-index: 1;
    right: 2%;
    background-color: var(--btn);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    color: var(--lm-bg-content);
    font-weight: bold;
    cursor: pointer;
    color: white;
    /* margin-left: 0.5rem; */
}

.search-btn:hover{
    background-color: var(--btn-hover);
}

.profile-container{
    margin-top: 3.5rem;
    /* max-height: 500px; */
    display: flex;
    padding: 2rem 1rem;
    background-color: var(--lm-bg-content);
    border-radius: 0.75rem;
    color: var(--lm-text);
}

.avatar{
    width: 7.313rem;
    border-radius: 100%;
    height: 7.313rem;
    margin-left: 1rem;
}

.profile-info-section{
    margin-left: 3rem;
    margin-right: 2rem;

}

.profile-name-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name{
    font-size: 1.5rem;
    font-weight: bold;
}

.joining-date{
    font-size: 0.75rem;
}

.profile-bio{
    margin-top: 3rem;
}

.profile-stats{
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;

}

.profile-links{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 0.5rem;
    justify-content: center;
    align-items: center;
}

.links{
    display: flex;
    gap: 1rem;
    /* justify-content: flex-start; */
    align-items: center;
}

a{
    color: rgb(34, 159, 255);
}

.icons{
    background-color: var(--lm-icon-bg);
}

/* ************************************************************************ */

/* Media Query for screens with a maximum width of 768px (e.g., tablets) */
@media screen and (max-width: 600px) {

    
}
    
  /* Media Query for screens with a maximum width of 480px (e.g., smartphones) */
  @media screen and (max-width: 480px) {

    .profile-container{
        flex-direction: column;
        align-items: center;
    }

    .avatar{
        margin-bottom: 1rem;
    }

    .profile-info-section{
        margin-left: 1rem;
        margin: 1rem;
    }
    .search-bar::-webkit-search-cancel-button{
        position:relative;
        right: 10%;
        /* margin-right: 1rem; */
    }

    .search-bar{
        padding-left: 10%;
    }
    .search-bar::placeholder{
        font-size: 0.8rem;
    }

    .search-btn{
        padding: 0.5rem 1rem;
    }
    .search-icon{
        width: 1rem;
    }
    .search-bar::-webkit-search-cancel-button{
        position:relative;
        right: 10%;
        /* margin-right: 1rem; */
    }
  }
  
   